{% extends "base.html.twig" %}

{% block body %}
<div id="root"></div>
    <h3>Requirements:</h3>
    <ul>
        <li>PHP 7.1+</li>
        <li>Yarn</li>
        <li>Composer</li>
    </ul>
    <h3>Setup:</h3>
    <ul>
        <li>Run <em>composer install</em></li>
        <li>Run <em>yarn install</em></li>
    </ul>
    <h3>To start the app:</h3>
    <ul>
        <li>Run <em>php bin/console server:start</em></li>
        <li>Run <em>yarn run encore dev --watch</em> to compile sass+js</li>
    </ul>
    <h3>Important info:</h3>
    <ul>
        <li>Frontend App is inside ./asstes</li>
        <li>Backend code is in ./src</li>
        <li>Backend templates is in ./templates</li>
    </ul>
{% endblock %}